
.BoxTitle {
    font-weight: bold;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
    padding: .8rem 1rem;
    color: var(--clr-white);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: var(--clr-main);
}