
.userProfile {
    background: var(--clr-content-bg);
    color: var(--clr-font);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    height: 70vh;
    border-radius: 15px;
    transition: var(--clr-transition);
    display: flex;
    align-items: flex-start;
    position: relative;
    border:  1px solid var(--clr-main);

    .userEditNavbar {
        position: absolute;
        bottom: -8%;
        right: 5%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem 0;
        border-radius: 5px;
        background-color: var(--clr-main);
        
        a {
            color: #fff !important;
            text-decoration: none;

            svg {
                font-size: 1rem;
                margin-left: .3rem;
            }
        }
    }

    .userProfileImage {
        height: 250px;
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 15px;
        margin: 1rem 1rem 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            top: 2%;
            left: 1%;
            width: 98%;
            height: 96%;
            border: 2px solid #eee;
            border-radius: 15px;
        }

        h1 {
            position: absolute;
            top: 15%;
            font-size: 2rem;
            color: #fff;
        }
        h6 {
            position: absolute;
            top: 35%;
            font-size: 1.2rem;
            color: rgb(201, 200, 200);
        }
        
        span {
            position: absolute;
            left: 0;
            bottom: 5%;
            background-color: rgb(255, 255, 255);
            padding: .2rem 1.2rem;
            border-radius: 0 30px 30px 0;
            transform: translateX(-100%);
            transition: all .4s;
            display: flex;
            align-items: center;
            cursor: pointer;
            i {
                margin: 0 .4rem;
            }
        }

        &:hover {
            span {
                transform: translateX(0%);
            }
        }

        p {
            position: absolute;
            top: 5%;
            right: 1%;
            background-color: coral;
            color: var(--clr-white);
            padding: .2rem 2.5rem;
            border-radius: 30px;
        }

        .userImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            width: 160px;
            height: 160px;
            z-index: 1;
            background-color: var(--clr-main);
            margin-bottom: -6rem;
            box-shadow: 0 0 8px rgba(0,0,0,.3);

            .header_image_background {
                width: 160px;
                height: 160px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                animation: rotate 20s infinite linear;
                z-index: 3;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 45%;
                    left: -5px;
                    width: 16px;
                    height: 16px;
                    z-index: 1;
                    border-radius: 50%;
                    background-color: #F492A0;
                    z-index: 3;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 35%;
                    right: -1px;
                    width: 11px;
                    height: 11px;
                    z-index: 1;
                    border-radius: 50%;
                    background-color: #FEB161;
                    z-index: 3;
                }
            }

            img {
                width: 140px;
                height: 140px;
                background-color: var(--clr-white);
                object-fit: cover;
                z-index: 2;
                border-radius: 50%;
            }

            .imageChange {
                position: absolute;
                bottom: -10%;
                right: -10%;
                width: 40px;
                height: 40px;
                background-color: #036EB6;
                box-shadow: 0 0 8px rgba(0,0,0,.2);
                color: var(--clr-white);
                text-align: center;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 100;
                font-size: 1.5rem;
                cursor: pointer;
                transition: all .4s;

                &:hover {
                    box-shadow: 0 0 8px rgba(0,0,0,.4);
                }
            }
        }
    }

    .userProfileConent {
        width: 40%;
        margin-right: 5%;

        .userProfileItems {
            padding: 1rem;

            .userProfileItem {
                margin: 1.5rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: .95rem;

                span {
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }
}

.userPosts {
    background: var(--clr-content-bg);
    color: var(--clr-font);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 15px;
    transition: var(--clr-transition);
    margin-top: 3.5rem;
    padding: 2rem;
}



@media (max-width: 990px) {
    
    .userProfile {
        height: auto;
        flex-direction: column;
        align-items: center;
        position: relative;

        .userEditNavbar {
            position: relative;
            bottom: 0%;
            right: 0%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 1.5rem 0;
            border-radius: 0 0 5px 5px;
            
            a, button {
                color: #fff !important;
                text-decoration: none;
                text-align: right;
                width: 90%;
                display: block;
                margin: .5rem;

            }
        }

        .userProfileImage {
            height: 200px;
            width: 90%;
            margin: 1rem auto 0;
            align-items: flex-end;
            justify-content: center;
            h1 {
                font-size: 1.4rem;
            }
            h6 {
                top: 35%;
                font-size: 1rem;
            }
        }

        .userProfileConent {
            width: 100%;
            margin-right: 0;
            margin-top: 5rem;

            .userProfileItems {
                padding: 1rem;

                .userProfileItem {
                    margin: 1.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: .95rem;

                    span {
                        flex: 1;
                        text-align: right;
                    }
                }
            }
        }
    }

    .userPosts {
        margin-top: 2rem;
        padding: 2rem 1rem;
    }
}