@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir-400.eot");
  src: url("../fonts/vazir-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir-400.woff2") format("woff2"),
    url("../fonts/vazir-400.woff") format("woff"),
    url("../fonts/vazir-400.ttf") format("truetype");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  position: relative;
  font-family: "vazir";
  direction: rtl;
}