.filters-contaier, .search-contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 1px var(--clr-main);
    background: var(--clr-content-bg);
    transition: var(--clr-transition);
    border-radius: 15px 15px 0 0;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border: none !important;

    h6 {
        font-size: .9rem;
        margin-bottom: 2rem;
        padding: 1rem 0;
        background-color: var(--clr-main);
        color: var(--clr-white) !important;
        width: 100%;
        text-align: center;
        border-radius: 15px 15px 0 0;
    }

    input {
        border: 1px solid #e6e6e6;
        padding: .3rem .5rem;
        border-radius: 15px;
        min-width: 300px;
        margin-top: 1.5rem;
    }

    .filters {
        width: 80%;
        padding: 0 1rem;
    }
}
