

.confirm-overlay {
    background-color: var(--clr-white) !important;
    font-family: 'vazir' !important;
    box-shadow: 0 0 5px rgba(0,0,0,.2);

    h3 {
        font-size: .9rem;
        color: #000;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            padding: .3rem 1rem;
            margin: .2rem .5rem;
            font-size: .9rem;
        }
    }
}